<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Keno.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Keno.Properties.Settings>
            <setting name="token" serializeAs="String">
                <value />
            </setting>
            <setting name="cookie" serializeAs="String">
                <value />
            </setting>
            <setting name="agent" serializeAs="String">
                <value />
            </setting>
            <setting name="textCode" serializeAs="String">
                <value>nextbet  = 0.00000000 --sets your first bet.
selected = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10} -- set selected tiles
risk     = "low" -- set risk level

function dobet()
    if (win) then
        print("hit counts: " .. lastBet.hits) 
        print("multiplier: " .. lastBet.multiplier .. "x")
    end
end</value>
            </setting>
            <setting name="site" serializeAs="String">
                <value>stake.bet</value>
            </setting>
        </Keno.Properties.Settings>
    </userSettings>
</configuration>